/*RESET*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 2000px;
}

img{
    max-width: 100%;
    display: block;
}

p{
    font-family: "Roboto", sans-serif;
}

h1, a {
    font-family: "Poppins", sans-serif;
}

/*HEADER*/

.header-bg{
    background-color: #000000;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.header-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a{
    color: #fff;
    font-size: 18px;
    font-weight: medium;
    padding: 16px 0; /*Aumenta a área clicável do link*/
    display: inline-block;
    position: relative;
}

/*Animação Hover*/

.header-menu a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #fff;
    margin-top: 4px;
    transition: .3s;
    position: absolute;
}

.header-menu a:hover::after{
    width: 100%;
}

/*INTRODUCAO*/

.introducao-bg{
    background-color: #000000;
    color: #fff;
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

/*PARA FAZER EFEITO DE FOTO VAZADA NO HERO*/

.introducao img{
    height: 100%;
    object-fit: cover;
}

.introducao-bg {
    box-shadow:inset 0 -120px #fff;
}
  

.introducao-dados{
    align-self: end;
    padding-bottom: 200px;
}

.introducao-dados h1{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125; /*não usar valores absolutos*/
}

.introducao-dados h1 span{
    color: #FFBB00;
}

.introducao-dados p{
    margin-bottom: 20px;
    color:#B2B2B2;
    font-size: 24px;
    line-height: 1.5;
}


.introducao a{
    display: inline-block;
    text-transform: uppercase;
    color: #332200;
    background: linear-gradient(#FFBB00, #F2a50c);
    font-weight: 600;
    line-height: 1.33;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}


.introducao a:hover{
    background: linear-gradient(#FFB60d, #e59317);
}

/*RESPONSIVO*/

@media(max-width: 800px){

    .header-menu{
        gap: 20px;
    }

    .header-menu a{
        background-color: #111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover{
        background-color: #2e2e2e;
    }

    .header a::after{
        display: none;
    }
}

@media(max-width: 400px){

    .header-menu{
        gap: 12px;
    }

    .header-menu a{
        padding: 8px 12px;
        font-size: 14px;
    }
}