.texto-grande {
  font-size: 64px;
  line-height: 1.125; /*não usar valores absolutos*/
}

.texto-medio {
  font-size: 24px;
  line-height: 1.5;
}

.font-1-xxl {
  font-family: Poppins;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0%;
}

.font-1-xl {
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
}

.font-1-l {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
}

.font-2-l {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
}

.font-2-l-b {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1.5%;
}

.font-1-m {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

.font-1-m-b {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

.font-2-m {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

.font-1-s {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.font-2-s {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
