/*HEADER*/

.header-bg{
    background-color: var(--cor-12);
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.header-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a{
    color: #fff;
    font-size: 18px;
    font-weight: medium;
    padding: 16px 0; /*Aumenta a área clicável do link*/
    display: inline-block;
    position: relative;
}

/*Animação Hover*/

.header-menu a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #fff;
    margin-top: 4px;
    transition: .3s;
    position: absolute;
}

.header-menu a:hover::after{
    width: 100%;
}